.App {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.dayBackground {
  background-image: url("images/day_sky.jpeg");
}

.nightBackground {
  background-image: url("images/night_sky.jpeg");
}

.App > .day {
  background-color: rgba(129, 212, 250, 0.7);
}

.App > .night {
  background-color: rgba(19, 31, 71, 0.85);
}
