.cityForm {
  box-sizing: border-box;
  border: 1px solid #202020;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #202020;
  font-size: 18px;
  text-align: center;
  padding: 10px 15px;
  width: 80%;
}

.cityForm label {
  vertical-align: middle;
  margin-right: 15px;
  font-weight: 500;
}

.cityForm input {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.cityForm button {
  vertical-align: middle;
  margin-left: 5px;
  font-size: 18px;
  background-color: #303030;
  color: whitesmoke;
  border-radius: 7px;
  padding: 7px 20px;
  border: none;
}
